numpy
scipy
matplotlib
pandas

seaborn
scikit-learn
transformers


torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1


# meta-learning
learn2learn


#  network
requests>=2.25,<3

#  utilities
tqdm
librosa
pathlib

# testing
pytest
